.product-form {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.product-form__wrapper {
  margin-bottom: 40px;
}

.product-form__label {
  margin-right: 20px;
}

.product-form__textarea {
  resize: none;
}
